
<div class="header row clearfix">
  <div class="logo clearfix col-lg-8">
    <%= image_tag('thoughtworks-logo.png', class: "logo") %>
  </div>
  <div id="logged_in_user" class="col-lg-4">Ruchi Mutneja<%#= @current_user.emp_id %></div>
</div>

<div class="form-container">
  <%= form_tag softwares_path, method: :get do %>
    <%= text_field_tag :software_name, params['software_name'] %>
    <%= collection_select(:software, :operating_system_id, OperatingSystem.order('name'), :id, :name, {prompt: "select operating system"}) %><br><br>
     <%= submit_tag "search" %>
  <%- end %>
     
</div>
