
<%= error_messages_for(@software) %>
<%= form_for @software do |f| %>
<div class="container"> 
  <div class="form-group row">
    <%= f.label :name , class: "col-lg-2"%><br>
  <div class="col-lg-4">
    <%= f.text_field :name, {class: "form-control"} %>
   </div> 
  </div>

  <div class="form-group row">
    <%= f.label :path, class: "col-lg-2" %><br>
    <div class="col-lg-4">
    <%= f.text_field :path, {class: "form-control"} %>
  </div>
  </div>

  <div class="form-group row">
    <%= f.label :operating_system_id, class: "col-lg-2" %><br>
    <div class="col-lg-4">
    <%= f.collection_select :operating_system_id, OperatingSystem.all, :id, :name, {class: "form-control"} %>
  </div>
  </div>

  <div class="form-group row">
    <%= f.label :freeware, class: "col-lg-2" %><br>
    <div class="col-lg-4">
    <%= f.check_box :freeware%>
  </div>
  </div>

  <div class="form-group row">
    <%= f.label :description, class: "col-lg-2" %><br>
    <div class="col-lg-4">
    <%= f.text_area :description, {class: "form-control"} %>
  </div>
  </div>

  <div class="form-group row">
    <%= f.submit%>
  </div>
  </div>
<% end %>
