
  <div class='col-lg-4' id='new-software'>
<%= link_to 'New Software', new_software_path %>
</div>

<table class='table table-bordered table-hovered'>
  <thead>
    <tr class='info'>
      <th class="cell-name">Name</th>
      <th class="cell-path">Path</th>
      <th class="cell-link">Link</th>
      <th class="cell-type">Type</th>
      <th class="cell-descritpion">Description</th>
      <th class="cell-operating-system">Operating System</th>
      <th class="cell-count">Download count</th>
      <th class="cell-state">State</th>
      <th class="cell-show"></th>
      <th class="cell-edit"></th>
      <th class="cell-destroy"></th>
    </tr>
  </thead>

  <tbody>
    <% @softwares.each do |software| %>
      <tr>
        <td><%= software.name %></td>
        <td><%= software.path %></td>
        <td class='wrap'><%= software_download_link(software) %></td>
		<td><%= software.freeware? ? 'Freeware' : 'Paid License' %></td>
        <td><%= software.description %></td>
        <td><%= OperatingSystem.find(software.operating_system_id).name%></td>
        <td><%= software.download_count %></td>
        <td><%= software.state.name %></td>
        <td><%= link_to 'Show', software %></td>
        <td><%= link_to 'Edit', edit_software_path(software) %></td>
        <td><%= link_to 'Destroy', software, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

</div>

